<!DOCTYPE html>
<html>
	<head>
		<title>YelpRestaurant</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
	</head>
	<body>
		<div class="container">
			<div id="landing-header">
				<h1>
					Welcome to YelpRestaurant
				</h1>
				<a href="/restaurants">View All Restaurants</a>
			</div>
			<ul class="slideshow">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		


<%- include("../partials/footer") %>